/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #8e8c84;
    color: #f8f5f0;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}

thead {
    background-color: #3e3f3a;
    color: #f8f5f0;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #f8f5f0;
    border-radius: 0;
    border-bottom: 10px solid #f8f5f0;
}

.small-hr {
    width: 20%;
    background-color: #f8f5f0;
    height: 1px;
}

/* Schedule */
.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    color: #f8f5f0;
    border-top: 1px dashed #f8f5f0;
}

.saveBtn {
    cursor: pointer;
}
/* .saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
} */
